<% title("Statutes list") %>
<% subtitle("Here you'll find a list of your statutes.") %>

<table>
  <tr>
  </tr>

<% @statuts.each do |statut| %>
  <tr>
  	<td><%=h statut.message %></td>
    <td><%= link_to 'Show', statut %></td>
    <td><%= link_to 'Edit', edit_statut_path(statut) %></td>
    <td><%= link_to 'Destroy', statut, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New statut', new_statut_path %>